@page "/cartypes"
@inject UI.Services.CarTypeService carTypeService
@attribute [Authorize(Roles = "admin")]
<h3>Car types</h3>
<table class="table table-condensed table-striped table-bordered">
    <tr><th>Id</th><th>Type</th><th></th></tr>
    @foreach (var carType in carTypes)
    {
        <tr>
            <td>@carType.id</td>
            <td>@carType.type</td>
            <td>
                <a href="/cartypes/update/@carType.id" class="btn btn-sm btn-primary">Edit</a>
                <a href="/cartypes/delete/@carType.id" class="btn btn-sm btn-primary">Delete</a>
            </td>
        </tr>
    }
</table>
<p>
    <a href="/cartypes/add" class="btn btn-primary">Add car type</a>
</p>
@code {
    List<CarTypeViewModel> carTypes { get; set; } = new List<CarTypeViewModel>();
    protected override async Task OnInitializedAsync()
    {
        carTypes = await carTypeService.GetCarTypesAsync();
    }
}
