<ul class="validation-errors">
    @foreach (var error in Errors)
    {
        <li class="validation-message">@error</li>
    }
</ul>

@code {
    [Parameter]
    public IEnumerable<string> Errors{ get; set; }
}
