<h3>AddClient</h3>
@using BusinessLogicLayer.DTO
@using UI.ViewModels
@page "/clientAdd"
<EditForm Model="@car" OnValidSubmit="@test">
    <FluentValidator></FluentValidator>
    <MatTextField @bind-Value="car.price"></MatTextField>
    <ValidationSummary />

</EditForm>
@text
@code {
    public string text { get; set; }
    private CarViewModel car { get; set; } = new CarViewModel();
    private void test()
    {
        text = "Everything is ok";
    }
}
