@inject IStringLocalizer<LoginDisplay> L
<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="/logout">Log out</a>
        
    </Authorized>
    <NotAuthorized>        
        <a href="/register">@L["Register"]</a>
        <a href="/login">@L["Login"]</a>
    </NotAuthorized>
</AuthorizeView>
