@page "/cars/hub"
<h3>Cars Hub</h3>
<a class="btn btn-primary" href="cars">View all cars</a>
<AuthorizeView Roles="admin">
    <Authorized>
        <a class="btn btn-primary" href="cars/add">Add new car</a>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {

}
